{% extends 'base.html.twig' %}

{% block title %}Web Academy{% endblock %}

{% block body %}

<div id="background" class="PC"></div>

<div class="ui container">
  <h1 class="landingTitle">{% trans %}Bienvenue sur Web Academy !{% endtrans %}</h1>
  <h3 class="landingSubheader subheader"><small>{% trans %}Crééz, innovez, apprenez</small>{% endtrans %}</h3>
</div>

<div class="ui link centered cards landingCards">
  <div class="ui raised card elearning" onclick="window.location ='/elearning'">
    <div class="content">
      <div class="header">E-Learning</div>
      <div class="meta"><a class="ui green empty circular label"></a> {% trans %}En ligne{% endtrans %}</div>
      <div class="description">
        <p>{% trans %}Découvrez une plateforme unique pour tous vos besoins en e-learning. Accompagnement continu. LMS innovant & sécurisé. {% endtrans %}</p>
      </div>
    </div>
      <div class="extra centred content">
        <a class="ui fluid basic button violet right labeled icon">
        <i class="arrow right icon"></i>
        {% trans %}C'est parti !{% endtrans %}
        </a>
      </div>
  </div>
  <div class="ui raised card projectmanagement">
    <div class="content">
      <div class="header">{% trans %}Gestion de projets{% endtrans %}</div>
      <div class="meta"><a class="ui orange empty circular label"></a>{% trans %}Bientôt disponible{% endtrans %}</div>
      <div class="description">
        <p>{% trans %}Application des techniques de gestion de projets afin d'atteindre des objectifs précis.{% endtrans %}</p>
      </div>
    </div>
      <div class="extra centred content">
        <a class="ui fluid basic violet disabled button right labeled icon">
        <i class="arrow right icon"></i>
        C'est parti !
        </a>
      </div>
  </div>
  <div class="ui raised card">
    <div class="content">
      <div class="header">{% trans %}Communauté{% endtrans %}</div>
      <div class="meta"><a class="ui orange empty circular label"></a>{% trans %}Bientôt disponible{% endtrans %}</div>
      <div class="description">
        <p>{% trans %}Réseau social basé autour de l'innovation{% endtrans %}</p>
      </div>
    </div>
      <div class="extra centred content">
        <a class="ui fluid basic button  violet disabled right labeled icon">
        <i class="arrow right icon"></i>
        {% trans %}C'est parti !{% endtrans %}
        </a>
      </div>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.cells.min.js"></script>
<script>
VANTA.CELLS({
  el: "#background",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 250.00,
  minWidth: 200.00,
  scale: 1.00,
  color1: 0x8c008c,
  color2: 0x7c46ff,
  speed: 0.50
})
</script>
{% endblock %}
